<div class="hot-chicken-pic">
    <img src="https://cdn.shopify.com/s/files/1/0972/8933/9200/files/sandwhich.png?v=1774408219">
</div>
<div class="chicken-chips-pick">
    <img src="https://cdn.shopify.com/s/files/1/0972/8933/9200/files/buffalo_chips.png?v=1774408218">
</div>
<div class="cookie-pic">
    <img src="https://cdn.shopify.com/s/files/1/0972/8933/9200/files/cookie.png?v=1774408217">
</div>
<div class="cookie-chips-pic">
    <img src="https://cdn.shopify.com/s/files/1/0972/8933/9200/files/cookie_chips.png?v=1774408218">
</div>
<div class="churro-pic">
    <img src="https://cdn.shopify.com/s/files/1/0972/8933/9200/files/churro_single_edit2_4.png?v=1774408217">
</div>
<div class="churro-chips-pic">
    <img src="https://cdn.shopify.com/s/files/1/0972/8933/9200/files/churro_chip.png?v=1774408217">
</div>
<div class="chicken-wing-pic">
    <img src="https://cdn.shopify.com/s/files/1/0972/8933/9200/files/chicken_wing.png?v=1774408217">
</div>
<div class="chicken-wing-chips-pic">
    <img src="https://cdn.shopify.com/s/files/1/0972/8933/9200/files/buffalo_chips.png?v=1774408218">
</div>