<style>
    .rogue-product-card{
        border-radius:25px;
        padding:40px 22px;
    }
    .rogue-card-column{
        gap:25px;
        display:flex;
        flex-direction:column;
    }
    .rogue-product-card-buttons{
        gap:10px;
        display:flex;
        flex-direction:column;
    }
    .rogue-product-card .product-type{
        color: #FFF;
        text-align: center;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px; /* 200% */
        letter-spacing: -0.3px;
        text-transform: uppercase;
    }
    .rogue-product-card .product-title{
        color: #FFF;
        text-align: center;
        font-size: 30px;
        font-style: normal;
        font-weight: 900;
        line-height: 30px; /* 100% */
        letter-spacing: -0.6px;
        text-transform: uppercase;
        max-width:230px;
        margin-inline:auto;
        min-height:60px;/* for single line text */
    }
    .fallback-card-style{
        background:grey;
        border:2px solid #000;
    }
</style>
{% assign the_title = product.title | remove:'can' | remove:'Can' | remove:'CAN' | remove:'page' | remove: 'PAGE' | remove: 'Page' | remove:'Pack' | remove:'PACK' | remove:'pack' %}
<div class="rogue-product-card fallback-card-style">
    <div class="rogue-card-column">
        <div class="card-text">
            <div class="product-type">8-Pack</div>
            <div class="product-title">
                {% if product.id == 10031050490176 %}
                    Variety Multipack
                {% else %}
                    {{ the_title }}
                {% endif %}
            </div>
        </div>
        <a href="{{ product.url }}" class="card-img">
            <img src="{{ product.featured_image | image_url }}">
        </a> 
        <div class="rogue-product-card-buttons">
            {% render 'rogue-component-btn'
                tag:'button',
                text:'Add to Cart',
                color:'yellow',
                additional_styles:'width:100%;font-size:17px;'
                add_to_cart:true,
                product:product,
            %}
            {% render 'rogue-component-btn'
                tag:'a',
                text:'View Product',
                color:'white',
                additional_styles:'width:100%;font-size:17px;',
                add_to_cart:false,
                product:product,
                url:product.url
            %}
        </div>
    </div>
</div>