{% doc %}
 This is used to END the background for background-start.liquid
{% enddoc %}
</div>
{% schema %}
{
    "presets":[
        {
            "name":"Background End"
        }
    ],
    "name":"Background End",
    "settings":[]
}
{% endschema %}