<div class="reviews-and-price">
        <div class="hardcoded--reviews">
            {% render 'hardcoded-reviews-svg' %}<span>4.8 • Average Rating </span>
        </div>
</div>
{% schema %}
{
    "name":"Hardcoded Reviews",
    "presets": [{
        "name": "Hardcoded Reviews"
    }],
    "settings": [
    ]
}
{% endschema %}