<p class="product-desc">{{ closest.product.metafields.custom.short_description2 }}</p>
{% schema %}
{
    "name": "Short Description",
    "presets": [{
        "name": "Short Description"
    }]
}
{% endschema %}